{% extends 'base.html' %}
{% block title %}{{ days[this_day_sym]['bunch_name'] }}&nbsp;|&nbsp;週7英単語{% endblock %}
{% block content %}
  <div class="container">
    <div class="row pb-3 pb-md-4 pt-1 pt-md-0">
      <h1 class="col-md-8 py-0 px-3 px-md-1 m-0 fw-bold text-nowrap" style="font-family: 'Montserrat', sans-serif;">{{ days[this_day_sym]['bunch_name'] }}</h1>
      <p class="col-md-4 text-end pt-2 px-3 px-md-1 mt-auto mb-0">{{ created_date }}更新</p>
    </div>
  </div>
  {% for card in cards %}
  <section class="bg-secondary my-2 border-0 rounded-4 p-3 px-md-4" >
    <a class="text-reset text-decoration-none px-0" data-bs-toggle="collapse" href="#card{{ card['id'] }}" role="button" aria-expanded="false" aria-controls="card{{ card['id'] }}">
      <div class="container p-0">
        <div class="row row-cols-auto m-0">
          <div class="col fs-3 p-0 pe-3 lh-sm">Q. {{ card['id'] + 1 }}</div>
          <div class="col fs-6 px-1 border border-light border-1 rounded-2 my-auto">{{ card['genre'] }}</div>
        </div>
      </div>
      <div class="fs-1" style="font-family: 'Montserrat', sans-serif; font-weight: 500;">{{ card['word'] }}</div>
      <div class="fs-6">/<span style="font-family: 'Lora', serif;">{{ card['pron'] }}</span>/</div>
    </a>

    <div class="collapse px-0 fs-4" id="card{{ card['id'] }}">
      <hr class="my-2 bg-white"/>
      {{ card['ja'] }}
    </div>
  </section>
  {% endfor %}
{% endblock %}